<div class="row">
    <div class="col-4 offset-4">
        <form class="form" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
            <h4 class="text-center">Register Form</h4>
            <hr>
            <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" class="form-control" type="text" name="name" placeholder="First Last">
                <div class="alert alert-danger" *ngIf="registerForm.controls.name.hasError('required') && (registerForm.controls.name.touched || registerForm.controls.name.dirty)">Name is required</div>
                <div class="alert alert-danger" *ngIf="registerForm.controls.name.hasError('pattern') && (registerForm.controls.name.touched || registerForm.controls.name.dirty)">Invalid Name</div>
            
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input [formControl]="registerForm.controls['email']" class="form-control" type="email" name="email"
                    placeholder="email">
                    <div class="alert alert-danger" *ngIf="registerForm.controls.email.hasError('required') && (registerForm.controls.email.touched || registerForm.controls.email.dirty)">Email is required</div>
                    <div class="alert alert-danger" *ngIf="registerForm.controls.email.hasError('pattern') && (registerForm.controls.email.touched || registerForm.controls.email.dirty)">Invalid Email</div>
                
            </div>
            <div class="form-group">
                <label for="mobile">Mobile</label>
                <input [formControl]="registerForm.controls['mobile']" class="form-control" type="text" name="mobile"
                    placeholder="Mobile">
                    <div class="alert alert-danger" *ngIf="registerForm.controls.mobile.hasError('required') && (registerForm.controls.mobile.touched || registerForm.controls.mobile.dirty)">Mobile number is required</div>
                    <div class="alert alert-danger" *ngIf="registerForm.controls.mobile.hasError('pattern') && (registerForm.controls.mobile.touched || registerForm.controls.mobile.dirty)">Invalid Mobile number</div>
                
            </div>
            <div class="form-group">
                <label for="name">Password</label>
                <input formControlName="password" class="form-control" type="password" name="password"
                    placeholder="Password">
                    <div class="alert alert-danger" *ngIf="registerForm.controls.password.hasError('required') && (registerForm.controls.password.touched || registerForm.controls.password.dirty)">Password is required</div>
                    <div class="alert alert-danger" *ngIf="registerForm.controls.password.hasError('pattern') && (registerForm.controls.password.touched || registerForm.controls.password.dirty)">Invalid Password</div>
            </div>

            <div class="float-right">
                <button class="btn btn-danger" type="reset">Cancel</button> &nbsp;
                <button class="btn btn-success" type="submit">Register</button>

            </div>
        </form>





        <!-- <form class="form" #regForm="ngForm" (ngSubmit)="register(regForm.value)">
            <h4 class="text-center">Register Form</h4>
            <hr>
            <div class="form-group">
                <label for="name">Name</label> -->
        <!-- [ngModelOptions]="{standalone: true}  -->
        <!-- <input [ngModel]="registerForm.name" class="form-control" type="text" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="name">Email</label>
                <input [(ngModel)]="registerForm.email" class="form-control" type="email" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <label for="name">Mobile</label>
                <input [(ngModel)]="registerForm.mobile" class="form-control" type="text" name="mobile" placeholder="Mobile">
            </div>
            <div class="form-group">
                <label for="name">Password</label>
                <input [(ngModel)]="registerForm.password" class="form-control" type="password" name="password" placeholder="Password">
            </div>

            <div class="float-right">
                <button class="btn btn-danger" type="reset">Cancel</button> &nbsp;
                <button class="btn btn-success" type="submit">Register</button>
               
            </div>
        </form> -->
    </div>
</div>